* { font-family: -apple-system, BlinkMacSystemFont, "SF Pro SC", "SF Pro Text", "Helvetica Neue", Helvetica, "PingFang SC", "Segoe UI", Roboto, "Hiragino Sans GB", 'arial', 'microsoft yahei ui', "Microsoft YaHei", SimSun, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: normal; }
html, body {
	margin: 0;
	background-color: #f5f5f5;
	height: 100%;
}
div.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
div.content-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	background-color: #fff;
}
.btn {
	width: 100%;
	padding: 9px 30px;
	box-sizing: border-box;
	border: none;
	font-size: 1em;
	/*border-radius: 4px;*/
	color: #fff;
}
.btn-primary {
	background-color: #f96b2a;
}
.btn-secondary {
	background-color: #919496;
}
.btn-info {
	background-color: #17a2b8;
}
.btn-table {
	background-color: #2a739f;
}
#insertFB {
	display: none;
}
input {
	padding: 10px 30px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	border-radius: 2px;
	color: #000;
}
.select {
	border: 1px solid #eee;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background-color: #fff;
	padding: 10px 30px;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
  	background-position-x: 5px;
  	background-position-y: 50%;
}
div.form-element,
.space-between {
	margin-top: 1em;
	margin: 5px;
}
.title {
	margin-bottom: 1em;
}
.select-options {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.select-options > div {
	align-self: baseline;
	margin-right: 1.5em;
	align-self: center;
}
.select-btn {
	justify-content: flex-end;
}
ul {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav.main-navbar {
	background: #f2f2f2;
	height: 80px;
	width: 100%;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
label.logo {
	color: #fff;
	font-size: 35px;
	line-height: 80px;
	padding: 0 1rem;
	font-weight: bold;
}
nav.main-navbar ul {
	float: right;
}
nav.main-navbar ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 4px;
}
nav.main-navbar ul li a {
	color: #555;
	font-size: 15px;
	text-transform: uppercase;
	padding: 8px;
	border-radius: 3px;
	text-decoration: none;
}
nav.main-navbar ul li a:active,
nav.main-navbar ul li a:hover {
	color: #fd4f00;
	transition: .2s;
}
.checkbtn {
	font-size: 30px;
	color: #333;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

/* Default Table Styling */
table {
	border-collapse: collapse;
}
table thead {
	background-color: #2a739f;
}
table th,
table thead td {
	font-weight: bold;
	color: #fff;
}
table td {
	color: #000;
}
table td,
table th {
	height: 23px;
  	text-align: center;
  	font-size: 13px;
  	padding: 6px 13px;
  	border: 1px solid #e1e1e1;
  	white-space:nowrap
}
table th, td {
	border: 1px solid #fff;
}
table tbody tr:hover {
	background-color: #f5f5f5;
}
div#dbtable_container {
	margin: 2.3em 0;
}
div#dbtable_paginate {
	margin-top: 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div#dbtable_paginate > span {
	display: flex;
	flex-direction: row;
	width: 150px;
	justify-content: space-between;
}
div#dbtable_paginate a {
	border: 1px solid #686868;
	padding: 4px 10px;
	margin: 0 3px;
	color: #686868;
}
div#dbtable_filter {
	margin-left: auto;
}
div#dbtable_filter > input {
	margin-left: 5px;
}
div#dbtable_paginate a:hover {
	color: #2a739f;
	cursor: pointer;
	border: 1px solid #2a739f !important;
}
a.paginate_button.current {
	border: 1px solid #2a739f !important;
	font-weight:bold;
	color: #fff !important;
	background-color: #2a739f;
}
div.dt-buttons {
	display: inline-block;	
}
div#dbstock {
	margin: 2em 0;
}
div#dbtable_header {
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}
input[type=submit]:hover,
.btn:hover {
	cursor: pointer;
}
#completeBtn {
	width: 18%;
	float: right;
	margin: 1em 0;
}
.alert {
	opacity:0;
	width: 100%;
	transition: visibility 0s, opacity 0.3s linear;
	position: relative;
	padding: 1rem 1.1rem;
	border-radius: 5px;
	border: 1px solid transparent;
}

.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
}
.alert-primary {
	color: #084298;
	background-color: #cfe2ff;
	border-color: #b6d4fe;
}
div.form-line {
	display: flex;
	flex-direction: row;
	padding: 0.8em 0em;
}
div.form-line > div:first-child {
	width: 33%;
}
div.form-wrapper {
	width: 478px;
	/*border: 1px solid #bebebe;*/
	padding: 1em 0 3em 3.5em;
	border-radius: 2px;
}
div.form-title {
	margin: 0 0 2em 0;
}
input.form-line-input {
	background-color: #fff;
	border-bottom: 1px solid black;
	margin: 1.8em 0;
}
div.table-title-wrapper {
	margin: 1em 0;
}
div.table-title {
	font-weight: bold;
	color: #e86427;
	/*border: 1px solid #ced4da;*/
	display: inline;
}
div.space-around {
	justify-content: space-around;
}

/*div#mfb {
	border: 1px solid #ced4da;
}*/
/* Media queries */

@media (max-width: 800px) {
	div.select-wrapper {
	    width: 77%;
	}

	.select-options {
		display: flex;
		flex-direction: column;
	}
	.select-options > div {
		align-self: start;
		margin: 0.5em;
	}
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav.main-navbar ul li a {
		font-size: 14px;
	}
	nav.main-navbar {
		background-color: #fff;
	}

	.checkbtn {
		display: block;
	}
	nav.main-navbar ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		padding: 0 28px;
		background-color: #f7f8f9;
		top: 80px;
		left: 100%;
		transition: all .2s;
	}
	#check:checked ~ ul {
		left: 0;
	}
	#check:checked ~ ul {
		left: 0;
	}
	nav.main-navbar {
		width: 100%;
	}
	
	nav.main-navbar ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
		border-bottom: 1px solid #ccc;
	}
	a:active, a:hover {
		background: none;
		color: #0082e6;
	}
	table td, table th {
	    height: 21px;
	    text-align: center;
	    font-size: 12px;
	    padding: 3px 12px;
	    border: 1px solid #e1e1e1;
	    white-space: nowrap;
	}
}