{{define "content"}}

<div class="container">
	<h2 id="today">Today: </h2>
	<div class="space-between select-options">
		<div>
			<input type="date" id="pick_date">
		</div>
		<div>
			<select name="pickoptions" id="pick_status" class="select">
				<option value="Pending">Pending</option>
				<option value="Complete">Complete</option>
				<option value="Updated">Updated</option>
			</select>
		</div>
		<div>
			<button class="btn btn-secondary picklist-btn">Select</button>
		</div>
	</div>
	<div class="space-between">
		<table id="picklist_table">
			<thead>
				<tr>
					<th>PID</th>
					<th>PNO</th>
					<th>Model</th>
					<th>Qty</th>
					<th>Customer</th>
					<th>Location</th>
					<th>Status</th>
					<th>created_at</th>
					<th>updated_at</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<template id="htmpl_pick">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</template>
	</div>
	<div class="space-between">
		<button class="btn btn-primary" id="completeBtn">Complete</button>
	</div>	
</div>
<script type="text/javascript" src="/static/tenda/js/picklist.js"></script>
{{end}}