<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GZHANG.DEV</title>
	<style>
		ul {
			list-style: none;
		}
		div.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="title">
			<h1>GZHANG Projects</h1>
		</div>
		<div class="project-list">
			<ul>
				<li><a href="/tenda/query"><img src="/static/images/tenda.png" alt="Tenda logo"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>