<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GZHANG.DEV</title>
	<style>
		ul {
			list-style: none;
		}
		div.project-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		div.project-list > div {
			border: 1px solid #eee;
			padding: 3em 11em;
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="project-list">
			<div>
				<a href="/tenda/search">
					<img src="/static/images/tenda.png" alt="Tenda logo">
				</a>
			</div>
			<div>Pending</div>
			<div>Pending</div>
		</div>
	</div>
</body>
</html>