<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GZHANG.DEV</title>
	<style>
		ul {
			list-style: none;
		}
		div.project-list {
			display: flex;
			flex-direction: column;
		}
		div.project-list > div {
			display: flex;
			padding: 3em 11em;
			justify-content: center;
			
		}
		div.project-list > div {
			padding: 2em 5em;
			transition: 0.3s;
		}
		div.project-list > div:hover {
			background: #333;
			transition: 0.3s;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="project-list">
			<div>
				<a href="/tenda/search">
					<img src="/static/images/tenda.png" alt="Tenda logo">
				</a>
			</div>
		</div>
	</div>
</body>
</html>