{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/tenda/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/tenda/css/main.css">
	<link rel=icon href=/static/tenda/favicon.ico>
	<title>Pick</title>
</head>
<body>
	{{ template "nav" .}}
	{{ template "content" .}}
	<script type="module" src="/static/tenda/js/main.js"></script>
</body>
</html>
{{ end }}
