{{define "PageTitle"}}Inspect Picked Orders{{end}}
{{define "content"}}
<div class="content-wrapper">
	<table style="width:50%;">
		<thead>
			<tr>
				<th>PNO</th>
				<th>Customer</th>
				<th>Sales</th>
				<th>Location</th>
				<th>Model</th>
				<th>Quantity</th>
				
				<td>Created At</td>
			</tr>
		</thead>
		<tbody>
			{{range .}}
			<tr>
				<td>{{.PNO}}</td>
				<td>{{.customer}}</td>
				<td>{{.sales_mgr}}</td>
				<td>{{.location}}</td>
				<td>{{.model}}</td>
				<td class="qty">{{.qty}}</td>
				<td>{{.created_at}}</td>
			</tr>
			{{end}}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight: bold;">Total</td>
				<td id="total" style="font-weight:bold;"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
{{end}}

{{define "jsfiles"}}
<script type="module" src="/static/tenda/js/inspectpicklist.js"></script>
{{end}}