{{define "PageTitle"}}Inspect Picked Orders{{end}}
{{define "content"}}
<div class="content-wrapper">
	<h1>Weekly picks<h1>
	<table style="width:50%;">
		<thead>
			<tr>
				<th>PID</th>
				<th>PNO</th>
				<th>Customer</th>
				<th>Sales</th>
				<th>Location</th>
				<th>Model</th>
				<th>Quantity</th>
				<th>Created At</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
			<tr>
				<td>{{.PID}}</td>
				<td><a href="#" class="PNOinfo">{{.PNO}}</a></td>
				<td>{{.customer}}</td>
				<td>{{.sales_mgr}}</td>
				<td>{{.location}}</td>
				<td>{{.model}}</td>
				<td class="qty">{{.qty}}</td>
				<td>{{.created_at}}</td>
				<td><a href="/tenda/picklist/update?PID={{.PID}}" target="_blank">Update</a></td>
			</tr>
			{{end}}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="font-weight: bold;">Total</td>
				<td id="total" style="font-weight:bold;"></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="infos">
		<h2>SQL DML</h2>
		<p>SELECT FROM `picklist` WHERE created_at BETWEEN startDate AND endDate;</p>
	</div>
	<div id="outb">
		<!-- <div class="DOtitle" style="display: flex;">
			<div class="DOinfo">	
				<div class="customer"><h2>Intact Media</h2></div>
				<div class="DOnumber"><h3>PO20211025-5</h3></div>
			</div>
			<div style="margin-left: 3em">
				<div class="date"><h3>2021-10-25</h3></div>
			</div>
			</div>
		</div> -->
	</div>
</div>
{{end}}

{{define "jsfiles"}}
<script type="module" src="/static/tenda/js/inspectpicklist.js"></script>
{{end}}