<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messages</title>
	<style>
		body {
			background-color: #ffe8ec;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Title</h1>
		<p>one?<button id="yesbtn">是的</button>
		<button id="nobtn">oyht</button></p>
		
		<form id="msgreply" action="" method="POST" style="display: none;" >
			<div>
				<textarea name="reply" id="" cols="30" rows="10" style="width: 535px; height: 244px;"></textarea>
			</div>
			<button>Send</button>
		</form>
	</div>
	<script type="module" src="/static/tenda/js/messages.js"></script>
</body>
</html>


