{{define "PageTitle"}}Packing Slip{{end}}
{{define "content"}}
<div class="content-wrapper">
	<div class="form-wrapper">
		<div class="form-title">
			<h1>Packing Slip</h1>
			<div id="today"></div>
		</div>
		<form action="" method="post" id="pickform">
			<div class="form-line">
				<div><label for="">PO Number</label></div>
				<div><input id="panum" type="text" name="PNO" list="POAENumber"></div>
			</div>
			<div class="form-line">
				<div><label for="">Customer</label></div>
				<div><input type="text" name="customer"></div>
			</div>
			<div class="form-line">
				<div><label for="">Model</label></div>
				<div><input list="modelist" id="mod" type="text" name="model"></div>
			</div>
			<div class="form-line">
				<div><label for="">Quantity</label></div>
				<div><input type="tel" name="qty"></div>
			</div>
			<div class="form-line">
				<div><label for="">Location</label></div>
				<div><select name="pickLocation" id="pick-location" class="select"></select></div>
			</div>
			<div class="form-line">
				<div><button id="pickbtn" class="btn btn-primary">Pick</button></div>
			</div>
		</form>
		<template id="htmpl_order"><tr><td></td><td></td><td></td><td></td></tr></template>
	</div>
	<div id="insertFB" class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>PID</th>
					<th>PNO</th>
					<th>model</th>
					<th>qty</th>
					<th>customer</th>
					<th>location</th>
					<th>status</th>
					<th>created_at</th>
					<th>Action</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{{end}}

{{define "jsfiles"}}
<script type="module" src="/static/tenda/js/packingslip.js"></script>
{{end}}