{{define "content"}}

<div class="container">
	<h2 id="today">Today: </h2>
	<div class="space-between select-options">
		<div class="space-between">
			<select name="pickoptions" id="pick-selection" class="select">
				<option value="Today">Today</option>
				<option value="Pending">Pending</option>
			</select>
		</div>
		<div class="space-between">
			<button class="btn btn-secondary picklist-btn">Select</button>
		</div>
	</div>
	<div class="space-between">
		<table id="picklist_table">
			<thead>
				<tr>
					<th>PID</th>
					<th>PNO</th>
					<th>Model</th>
					<th>Qty</th>
					<th>Customer</th>
					<th>Location</th>
					<th>Status</th>
					<th>Last_updated</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<template id="htmpl_pick">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</template>
	</div>
	<div class="space-between">
		<button class="btn btn-primary">Complete</button>
	</div>	
</div>
{{end}}