{{define "PageTitle"}}Pick List{{end}}
{{define "content"}}
<div class="content-wrapper">
	<div class="space-between select-options">
		<div>
			<input type="date" id="pick_date">
		</div>
		<div>
			<select name="pickoptions" id="pick_status" class="select">
				<option value="Pending">Pending</option>
				<option value="Complete">Complete</option>
				<option value="completed_at">Weekly completed</option>
			</select>
		</div>
		<div>
			<button class="btn btn-primary picklist-select-btn">Select</button>
		</div>
	</div>
	<div class="table-wrapper">
		<table id="picklist-table"></table>
		<template id="tmp_tbhead">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</template>
		<template id="tmp_tbrow">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</template>
	</div>	
</div>
{{end}}

{{define "jsfiles"}}
<script type="text/javascript" src="/static/tenda/js/picklist.js"></script>
{{end}}