{{define "content"}}
<div class="container">
	<h2 id="today">Today: </h2>
	<form action="/query" method="post" id="queryform">
		<div class="form-element">
			<label for="mod">
				<span class="title">Model</span>
			</label>
			<input list="modelist" id="mod" type="text" name="model">
		</div>
		<div id="mfb"></div>
		<div class="form-element">
			<label for="loc">
				<span class="title">Location</span>
			</label>
			<input list="loclist" id="loc" type="text" name="location">
		</div>
		<div id="lfb"></div>
		<div class="form-element">
			<input type="submit" value="Query" id="querybutton">
		</div>
	</form>
</div>
{{end}}