{{define "PageTitle"}}Find Models{{end}}
{{define "content"}}
	<div class="content-wrapper">
		<div class="select-wrapper">
			<h2 id="today">Today: </h2>
			<div class="space-between select-options">
				<div>
					<input list="modelist" id="mod" type="text" name="model" placeholder="Model Name">
				</div>
				<div>
					<input list="loclist" id="loc" type="text" name="location" placeholder="Location">
				</div>
				<div>
					<button class="btn btn-primary select-picklist" id="search-btn">Find</button>
				</div>
			</div>
		</div>
		<div class="table-wrapper">
			<div class="table-title-wrapper model-title"></div>
			<div class="table-title-wrapper location-title"></div>
			<div id="sfb"></div>
		</div>
	</div>
{{end}}
{{define "jsfiles"}}
<script type="module" src="/static/tenda/js/search.js"></script>
{{end}}