{{define "PageTitle"}}Add stock{{end}}
{{define "content"}}
<div class="content-wrapper">
	<div class="form-title"><h2>Add Stock: {{.SID}}</h2></div>
	<div class="table-form-wrapper table-wrapper">
		<form action="" id="stockadd-form">
			<table class="single-row">
				<thead>
					<tr>
						<th>位置</th>
						<th>产品</th>
						<th>每箱数量</th>
						<th>箱数</th>
						<th>散货数</th>
						<th>数量总计</th>
						<th>种类</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td data-label="Location"><input name="location" style="width:80px;padding:7px 12px;" type="text" value="{{.location}}"></td>
					<td data-label="Model"><input name="model" style="width:135px;padding:7px 12px;" type="text" value="{{.model}}"></td>
					<td data-label="unit"><input name="unit" style="width:80px;padding:7px 12px;" type="text" value="{{.unit}}"></td>
					<td data-label="cartons"><input name="cartons" style="width:80px;padding:7px 12px;" type="text"></td>
					<td data-label="Boxes"><input name="boxes" style="width:80px;padding:7px 12px;" type="text" value="{{.boxes}}"></td>
					<td data-label="Total"><input name="total" style="width:80px;padding:7px 12px;" type="text" value="{{.total}}"></td>
					<td data-label="kind">
						<input type="text" name="kind" style="width:80px;padding:7px 12px;">
					</td>
					<td><button class="btn btn-primary" id="stockAddBtn">Add</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="alert alert-primary add-fd"></div>
</div>
{{end}}

{{define "jsfiles"}}
<script type="module" src="/tenda/static/tenda/js/stockadd.js"></script>
{{end}}
