{{define "PageTitle"}}Update stock{{end}}
{{define "content"}}
<div class="content-wrapper">
	<div class="alert alert-primary update-fd"></div>
	<div class="form-title"><h2>Update Stock: {{.SID}}</h2></div>
	<div class="table-form-wrapper table-wrapper">
		<form action="" id="table-form">
			<table class="single-row">
				<thead>
					<tr>
						<th>SID</th>
						<th>位置</th>
						<th>产品</th>
						<th>每箱数量</th>
						<th>箱数</th>
						<th>散货数</th>
						<th>数量总计</th>
						<th>品种</th>
						<th>更新理由</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td data-label="SID">{{.SID}}</td>
					<input type="hidden" name="SID" value="{{.SID}}">
					<td data-label="Location"><input name="location" style="width:80px;padding:7px 12px;" type="text" value="{{.location}}"></td>
					<td data-label="Model"><input name="model" style="width:135px;padding:7px 12px;" type="text" value="{{.model}}"></td>
					<td data-label="Unit"><input name="unit" style="width:66px;padding:7px 12px;" type="text" value="{{.unit}}"></td>
					<td data-label="Cartons"><input name="cartons" style="width:66px;padding:7px 12px;" type="text" value="{{.cartons}}"></td>
					<td data-label="Boxes"><input name="boxes" style="width:66px;padding:7px 12px;" type="text" value="{{.boxes}}"></td>
					<td data-label="Total"><input name="total" style="width:66px;padding:7px 12px;background-color:#f4f4f4;" type="text" value="{{.total}}"></td>
					<td data-label="kind">
						<input type="text" name="kind" value="{{.kind}}" style="width:100px;">
					</td>
					<td data-label="Comments">
						<textarea name="update_comments" id="" >{{.update_comments}}</textarea>
					</td>
					<!-- <td data-label="Action" id="actionCell">
						
					</td> -->
					</tr>
				</tbody>
			</table>

			<button class="btn btn-primary" id="updateStockBtn">Update</button>
			<button class="btn btn-info" id="delStockBtn">Delete</button>
		</form>
	</div>
</div>
{{end}}

{{define "jsfiles"}}
<script type="module" src="/static/js/stockupdate.js"></script>
{{end}}
